.header{
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    background-color: lightsalmon;
    /* width: 30%; */
}
.img{

display: flex;
justify-content: space-evenly;
border: double thick white;

/* margin-right: 30%; */
}
.nameInfo{
    align-self: left;
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
   
    /* border-radius: 50%; */
    
    align-items: center;
}
.img, .nameInfo{
    border: solid pink;
    width: 20%;
}
.photo{
    height:250px;
    width:250px;
    /* border-radius:50%; */
}
.profileContainer{
    /* border: solid blue; */
    /* display: flex; */
    justify-content: space-evenly;
    height: 255px;
    width: 325px;
    background-color: rgb(231, 213, 195);
   
}
.xpContainer{
   /* display: flex; */
    /* height: 355px; */
    /* width: 50%; */
    margin-left: 25%;
    background-color: rgb(231, 213, 195);
    
}
.contactContainer{
    /* border: solid green; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    height: 255px;
    width: 325px;
    /* margin: 25px; */
    background-color: rgb(231, 213, 195);
    
}
.profileContainer,  .contactContainer{
    /* border: solid pink; */
   margin-left: 20px;
   width: 24%;
}
.contactInfo{
    display: flex;
    
    width: 25px;
    
   
    font-size: 11px;
}
.title{
    align-items: center;
    
}

.xpDetails{ 
 margin: 25px;
 /* display: flex; */
 }
.descript{
    display: grid;
 grid-template-columns: 33% 33% 33%;
}
.text{
   
    align-content: left;
}
.h1{
    margin-right: 15px;
}
